.entities-list {
	grid-area: entities;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: $border-outline-width;
	z-index: 1;

	&.no-results {
		.no-results-message {
			font-size: 1.5rem;
			padding: 2rem;
			background-color: $black;
			text-align: center;
			margin: 0;
		}
	}

	&__category {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		background-color: $black;

		&-label {
			font-size: 2rem;
			line-height: 1.15;
			hyphens: auto;
			margin: 0;
			padding: 1.5rem;
			word-break: break-word;
		}

		&-icon {
			@include transition;
			@include hover-wrapper {
				&:hover {
					cursor: url("/images/pointer@1x.svg") 4 4, auto;
					cursor: -webkit-image-set(url("/images/pointer@2x.svg") 2x) 4 4, auto;
				}
			}

			align-self: flex-end;
			margin: 2rem;

			svg {
				transform: rotate(45deg);
				width: 2.15rem;
				height: 2.15rem;
			}

			&.filter-active {
				transform: rotate(225deg);
			}
		}
	}

	&__positioner {
		@include center;
		flex-direction: column;
		padding: 1rem 1.5rem;
		position: relative;
	}

	&__item {
		@include transition(background-color);
		background-color: $black;
		text-align: center;

		&:hover {
			background-color: darken($black, 5%);
		}

		p {
			margin: 0 0 0.25rem;
		}
	}

	&__navigation {
		@include outline;
		position: absolute;
		border-top: none;
		border-right: none;
		top: 0;
		left: 0;
		width: 3rem;
		height: 3rem;
		background-color: $black;

		&:hover {
			background-color: darken($black, 10%);
		}

		.arrow-icon-link {
			@include center;
			height: 100%;
			width: 100%;
		}

		.icon {
			padding: 0.3rem;
		}
	}

	&__labels {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__item-label {
		padding: 0.25rem 0.5rem;
		margin: 0;
		font-size: 0.9rem;
		line-height: 1.2;

		@include hover-wrapper {
			&:hover {
				cursor: url("/images/copy@1x.svg") 4 4, auto;
				cursor: -webkit-image-set(url("/images/copy@2x.svg") 2x) 4 4, auto;
			}
		}

		&:not(.symbol):hover {
			background-color: rgba($black, 0.8);
			color: white;
		}

		&.name {
			font-size: 1.2rem;
			margin-bottom: 0.5rem;
		}

		&:not(.copy):hover {
			@include hover-wrapper {
				&:hover {
					cursor: url("/images/cursor@1x.svg") 4 4, auto;
					cursor: -webkit-image-set(url("/images/cursor@2x.svg") 2x) 4 4, auto;
				}
			}

			background-color: transparent;
			color: currentColor;
		}

		&.symbol {
			font-family: $roboto;
			font-size: 3rem;
			height: 4rem;

			&:hover {
				background-color: $black;
			}
		}
	}
}

@include sm {
	.entities-list {
		$padding: 1.5rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

		&__item {
			display: flex;
		}

		&__positioner {
			flex: 1 0;
			display: grid;
			grid-template-columns: 1fr 3rem;
			grid-template-rows: 1fr;
			grid-template-areas: "details navigation";
			gap: $border-outline-width;
			background-color: $yellow;
			padding: 0;
		}

		&__labels {
			grid-area: details;
			background-color: $black;
			padding: $padding 1rem;
			height: calc(100% - 2 * #{$padding});
		}

		&__navigation {
			position: relative;
			grid-area: navigation;
			background-color: $black;
			outline: none;
			height: 100%;
		}
	}
}
