.footer {
	@include center;
	background-image: url("../../images/bg.svg");
	grid-area: footer;
	flex-direction: column;
	flex: 0 0;
	padding: 2rem 1rem;
	font-family: $roboto;

	a {
		color: $yellow;
		text-decoration: none;
		margin-bottom: 0.5rem;
		display: block;
		position: relative;
		padding: 0.25rem;

		&::after {
			@include transition(transform);
			position: absolute;
			content: "";
			height: 0.125em;
			width: 100%;
			background-color: $yellow;
			left: 50%;
			bottom: -0.25rem;
			transform: translateX(-50%) scaleX(0);
			transform-origin: right;
		}

		&:hover::after {
			transform: translateX(-50%) scaleX(1);
			transform-origin: left;
		}
	}

	&__links {
		@include center;
		flex-direction: column;
	}

	&__byline {
		@include center;
		flex-direction: column;
	}

	&__created-by {
		text-align: center;
	}
}

@include sm {
	.footer {
		justify-content: unset;
		display: grid;
		place-items: center;
		gap: $border-outline-width;
		grid-template-columns: repeat(2, 1fr);
		background-color: $yellow;
		padding: 0;

		a,
		ul {
			margin-bottom: 0;
		}

		&__links {
			padding: 1rem;
		}

		&__emoji {
			display: none;
		}

		&__byline {
			flex-direction: row;
		}
	}
}
