.info-card {
	@include border;
	@include shadow;
	max-width: 550px;
	background-color: $black;
	padding: 1.5rem 3rem;
	display: grid;
	place-items: center;
	text-align: center;
	margin: 2rem;
	z-index: 10;
}

.copy {
	@include hover-wrapper {
		&:hover {
			cursor: url("/images/pointer@1x.svg") 4 4, auto;
			cursor: -webkit-image-set(url("/images/pointer@2x.svg") 2x) 4 4, auto;
		}
	}
}
