.search {
	display: flex;
	align-items: center;
	position: relative;
	overflow-x: hidden;

	&__icon {
		@include center;
		position: absolute;
		transform: translateY(-50%);

		&.search {
			left: 0;
			top: 50%;
			margin-left: 0.65rem;
		}

		&.clear {
			right: 0;
			top: 50%;
			margin-right: 0.65rem;
		}
	}

	&__input-wrapper {
		flex: 1 0;
		padding-left: 3.5rem;
		display: flex;
		background-color: $black;
	}

	&__input {
		width: 100%;
		font-size: 2rem;
		padding: 0.5rem;
		color: $yellow;
		font-family: $space-bold;
		background-color: transparent;
		appearance: none;
		border: none;

		&:focus {
			outline: none;
		}
	}
}
