.symbol-detail {
	grid-area: entities;
	display: grid;
	overflow-y: scroll;
	overflow-x: hidden;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr $footer-height;
	grid-template-areas:
		"symbol symbol entity   "
		"symbol symbol unicode "
		"html   css    back";
	gap: $border-outline-width;
	background-color: $yellow;

	& > * {
		background-color: $black;
		@include center;
		flex-direction: column;
		text-align: center;
		padding: 1rem;
	}

	& > .symbol-label__back {
		padding: 0;
	}

	&__symbol {
		grid-area: symbol;
		overflow-y: scroll;

		&-mark {
			@include cursor-pointer;

			font-family: $roboto;
			font-size: calc(25vw + 8rem);
			line-height: 0.8;
			margin: 2rem 0 0;
		}

		.name {
			font-size: calc(1.25vw + 2.5rem);
			line-height: 1.25;
		}
	}

	&__key {
		@include cursor-pointer;

		font-size: calc(0.8vw + 2rem);
		padding: 0.25rem 1rem;
		margin-bottom: 0.25rem;
	}

	&__label {
		font-size: 1rem;
	}

	&__entity {
		grid-area: entity;
	}

	&__html {
		grid-area: html;
	}

	&__css {
		grid-area: css;
	}

	&__html,
	&__css {
		display: grid;
		gap: $border-outline-width;
		background-color: $yellow;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"reference"
			"example  ";
		padding: 0;

		&-reference {
			@include center;
			grid-area: reference;
			flex-direction: column;
			height: 100%;
		}

		&-example {
			@include center;
			grid-area: example;
			height: 100%;

			code {
				background-color: darken($black, 10%);
				padding: 1rem;
				margin: 1rem;
				text-align: left;
				overflow: scroll;
			}

			pre {
				margin: 0;
				padding: 0;
				line-height: 1.25;

				&.comment {
					color: lighten($black, 15%);
				}
			}
		}

		& > * {
			background-color: $black;
		}
	}

	&__unicode {
		grid-area: unicode;
	}

	&__back {
		grid-area: back;

		&:hover {
			background-color: darken($black, 10%);
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		$padding: 2rem;

		&-arrow svg {
			padding: $padding;
			height: calc(100% - 2 * #{$padding});
			width: calc(100% - 2 * #{$padding});
		}
	}
}

@include md {
	.symbol-detail {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-template-rows: 2fr 1fr 1fr $footer-height;
		grid-template-areas:
			"symbol symbol "
			"entity unicode"
			"html   css    "
			"back   back   ";

		&__symbol {
			overflow-y: visible;
		}
	}
}

@include xsm {
	.symbol-detail {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"symbol "
			"entity "
			"unicode"
			"html   "
			"css    "
			"back   ";

		&__key {
			margin: 1rem 0.5rem 0;
		}

		&__label {
			margin-bottom: 1rem;
		}

		&__html,
		&__css {
			gap: 0;

			.symbol-detail__label {
				margin-bottom: 0;
			}

			code {
				margin: 0 1rem 1rem;
			}
		}
	}
}

@media only screen and (min-width: 1180px) {
	.symbol-detail__symbol-mark {
		font-size: 30rem;
	}
}
