html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $black;
	overflow: hidden;
}

::selection {
	background-color: $yellow;
	color: $black;
}

body {
	font-family: $ff;
	color: $yellow;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Layout
.main-content {
	@include border;
	height: calc(100vh - 2 * #{$border-outline-width});
	width: calc(100vw - 2 * #{$border-outline-width});
	display: grid;
	gap: $border-outline-width;
	background-color: $yellow;
	// width: 100%;

	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr $footer-height;
	grid-template-areas:
		"banner entities"
		"footer entities";

	@include sm {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		grid-template-areas:
			"banner"
			"entities"
			"footer";
	}
}
