html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $black;
}

::selection {
	background-color: $yellow;
	color: $black;
}

body {
	font-family: $ff;
	color: $yellow;
	background-image: url("../../images/bg.svg");
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Layout
.main-content {
	@include center;
	height: 100vh;
	width: 100%;
}
