html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $black;
	overflow: hidden;
}

::selection {
	background-color: $yellow;
	color: $black;
}

body {
	font-family: $space;
	color: $yellow;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.app {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: visible;
	cursor: url("../../images/cursor.svg"), auto;

	a {
		cursor: url("../../images/pointer.svg"), auto;

		@include hover-wrapper {
			&:hover {
				cursor: url("../../images/pointer.svg"), auto;
			}
		}
	}

	@include hover-wrapper {
		.copy:hover {
			cursor: url("../../images/copy.svg"), auto;
		}
	}
}

// Layout
.main-content {
	@include border;
	height: calc(100vh - 2 * #{$border-outline-width});
	width: calc(100vw - 2 * #{$border-outline-width});
	display: grid;
	gap: $border-outline-width;
	background-color: $yellow;
	grid-template-columns: 10rem 1fr;
	grid-template-rows: auto 1fr 10rem $footer-height;
	grid-template-areas:
		"banner       search  "
		"banner       entities"
		"instructions entities"
		"footer       entities";

	&.no-search {
		grid-template-rows: 1fr 10rem $footer-height;
		grid-template-areas:
			"banner       entities"
			"instructions entities"
			"footer       entities";
	}
}

@include sm {
	.main-content {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-template-areas:
			"banner      "
			"search      "
			"entities    "
			"instructions"
			"footer      ";

		&.no-search {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr auto;
			grid-template-areas:
				"banner      "
				"entities    "
				"instructions"
				"footer      ";
		}
	}
}
