// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
$charcoal: #264653;
$persian-green: #2a9d8f;
$orange-yellow-crayola: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #ec6745;

$black: $charcoal;
$green: $persian-green;
$yellow: #f5bf16;
$orange-light: $sandy-brown;
$orange: $burnt-sienna;

$grid-gap: 1.5rem;
$footer-height: 330px;
