@font-face {
	font-family: "Roboto Regular";
	src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Space Mono";
	src: url("/fonts/SpaceMono-Regular.ttf");
}

@font-face {
	font-family: "Space Mono Bold";
	src: url("/fonts/SpaceMono-Bold.ttf");
}

// Primary font
$roboto: "Roboto Regular", Avenir, "Helvetica Neue", sans-serif;

// Monospace fonts
$space: "Space Mono", monospace;
$space-bold: "Space Mono Bold", monospace;
