:root {
	--color-green: #264653;
	--color-green-rgb: 38, 70, 83;
	--color-green-light: #3e7287;
	--color-green-dark-05: #1e3742;
	--color-green-dark-10: #162830;
	--color-yellow: #f5bf16;
	--color-white: #fff;

	--footer-height: calc(5vw + 15rem);
	--border-outline-width: 0.5rem;
}
