.banner {
	@include center;
	grid-area: banner;
	flex-direction: column;
	background-image: url("../../images/bg.svg");

	&__page-title {
		@include center;
		width: 105%;
		flex: 1 0;
		font-size: 3rem;
		font-family: $space;
		text-align: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
}

@include sm {
	.banner {
		&__page-title {
			writing-mode: horizontal-tb;
			transform: rotate(0);
			font-size: 1.8rem;
			line-height: 1;
		}
	}
}
