.banner {
	@include center;
	border-left: $border-outline-width solid $yellow;
	height: 100%;
	flex-direction: column;

	&__page-title {
		@include center;
		width: 105%;
		border-bottom: $border-outline-width solid $yellow;
		border-top: $border-outline-width solid $yellow;
		flex: 1 0;
		font-size: 3rem;
		font-family: $space;
		text-align: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	&__footer {
		border-bottom: $border-outline-width solid $yellow;
		@include center;
		width: 100%;
		flex-direction: column;
		flex: 0 0;
		padding: 3rem 1rem;

		a {
			color: $yellow;
			text-decoration: none;
			margin-bottom: 0.5rem;
			display: block;
			position: relative;
			padding: 0.25rem;

			&::after {
				@include transition(transform);
				position: absolute;
				content: "";
				height: 0.25rem;
				width: 100%;
				background-color: $yellow;
				left: 50%;
				bottom: -0.25rem;
				transform: translateX(-50%) scaleX(0);
				transform-origin: right;
			}

			&:hover::after {
				transform: translateX(-50%) scaleX(1);
				transform-origin: left;
			}
		}

		&-links {
			@include center;
			flex-direction: column;
			margin-bottom: 2rem;
		}

		&-byline {
			@include center;
			flex-direction: column;
		}
	}
}
