.banner {
	@include center;
	grid-area: banner;
	flex-direction: column;
	background-image: url("../../images/bg.svg");

	&:hover {
		.banner__logo {
			transform: scale(1.1);
		}

		.banner__page-title {
			transform: rotate(180deg) scale(1.1);
		}
	}

	a {
		@include center;
		flex-direction: column;
		height: 100%;
		text-decoration: none;
		color: $yellow;

		span {
			font-size: 3rem;
		}
	}

	.banner__logo {
		@include transition;
		transform: scale(1);
	}

	&__page-title {
		@include center;
		@include transition;
		width: 105%;
		flex: 1 0;
		font-size: 3rem;
		text-align: center;
		writing-mode: vertical-rl;
		transform: rotate(180deg) scale(1);
	}
}

@include sm {
	.banner__logo {
		line-height: 1;
	}

	.banner {
		&__page-title {
			display: none;
			// writing-mode: horizontal-tb;
			// transform: rotate(0);
			// font-size: 1.8rem;
			// line-height: 1;
		}

		&:hover .banner__page-title {
			transform: rotate(0) scale(1.1);
		}
	}
}
