.entities-list {
	@include border;
	position: relative;
	top: 0;
	height: calc(100% - 2 * #{$border-outline-width});
	overflow-y: scroll;
	flex: 1 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: $border-outline-width;
	z-index: 1;

	&__positioner {
		@include center;
		flex-direction: column;
		padding: 1rem 1.5rem;
		position: relative;
	}

	&__item {
		@include outline;
		@include transition(background-color);
		background-color: $black;
		text-align: center;

		&:hover {
			background-color: darken($black, 5%);
		}

		p {
			margin: 0 0 0.25rem;
		}

		.arrow-icon-link {
			@include outline;
			border-top: none;
			border-right: none;
			@include center;
			position: absolute;
			top: 0;
			right: 0;
			width: 3rem;
			height: 3rem;
			background-color: $black;

			&:hover {
				background-color: darken($black, 10%);
			}
		}

		.icon {
			font-size: 2rem;

			path {
				stroke: $yellow;
			}
		}
	}

	&__item-label {
		padding: 0.25rem 0.5rem;
		margin: 0;
		font-family: $space;
		font-size: 0.9rem;
		line-height: 1.2;

		&:hover {
			cursor: copy;
		}

		&:not(.symbol):hover {
			background-color: rgba($black, 0.8);
			color: white;
		}

		&.name {
			font-family: $ffs;
			font-size: 1.2rem;
			margin-bottom: 0.5rem;
		}

		&.no-copy:hover {
			cursor: default;
			background-color: transparent;
			color: currentColor;
		}

		&.symbol {
			font-family: $ff;
			font-size: 3rem;
			height: 4rem;
		}
	}
}
