.entities-list {
	display: flex;
	flex-wrap: wrap;
	gap: $grid-gap;
	padding: $grid-gap;

	&__item {
		background-color: $black;
		border: 4px solid $yellow;
		padding: 1rem 1.5rem;
		text-align: center;
		flex: 1 1 200px;

		p {
			margin: 0 0 0.25rem;
		}
	}

	&__item-label {
		padding: 0.25rem 0.5rem;
		margin: 0 0 0.25rem;

		&:hover {
			cursor: pointer;
		}

		&:not(.symbol):hover {
			background-color: rgba($black, 0.8);
			color: white;
		}

		&.no-copy:hover {
			cursor: default;
			background-color: transparent;
			color: currentColor;
		}

		&.symbol {
			font-size: 3rem;
		}
	}

	.icon {
		font-size: 2rem;

		path {
			stroke: $yellow;
		}
	}
}
