.info-card {
	@include border;
	@include shadow;
	max-width: 550px;
	background-color: $black;
	padding: 1.5rem 3rem;
	display: grid;
	place-items: center;
	text-align: center;
	margin: 2rem;
	z-index: 10;
}

// .copy {
// 	&:hover {
// 		cursor: pointer;
// 	}
// }
