.search {
	@include center;
	position: relative;

	&__icon {
		@include center;
		position: absolute;
		transform: translateY(-50%);

		&.search {
			left: 0;
			top: 50%;
			margin-left: 0.65rem;
		}

		&.clear {
			right: 0;
			top: 50%;
			margin-right: 0.65rem;
		}
	}

	&__input {
		flex: 1 0;
		appearance: none;
		border: none;
		font-size: 2rem;
		padding: 0.5rem;
		padding-left: 3.5rem;
		color: $yellow;
		background-color: $black;
		font-family: $space-bold;

		&:focus {
			outline: none;
		}
	}
}
