.symbol-detail {
	grid-area: entities;
	display: grid;
	overflow-y: scroll;
	overflow-x: hidden;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr $footer-height;
	grid-template-areas:
		"symbol symbol entity   "
		"symbol symbol unicode "
		"html   css    back";
	gap: $border-outline-width;
	background-color: $yellow;

	& > * {
		background-color: $black;
		@include center;
		flex-direction: column;
		text-align: center;
		padding: 1rem;
	}

	& > .symbol-label__back {
		padding: 0;
	}

	&__symbol {
		grid-area: symbol;

		&-mark {
			font-size: calc(30vw + 8rem);
			line-height: 1;
			margin: 2rem 0 0;

			// &:hover {
			// 	cursor: copy;
			// }
		}

		.name {
			font-size: calc(1.25vw + 2.5rem);
		}
	}

	&__key {
		font-size: calc(0.8vw + 2rem);
		padding: 0.25rem 1rem;
		margin-bottom: 0.5rem;

		&:hover {
			// cursor: copy;
			background-color: darken($black, 10%);
		}
	}

	&__label {
		font-size: 1rem;
	}

	&__entity {
		grid-area: entity;
	}

	&__html {
		grid-area: html;
	}

	&__css {
		grid-area: css;
	}

	&__unicode {
		grid-area: unicode;
	}

	&__back {
		grid-area: back;

		&:hover {
			background-color: darken($black, 10%);
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		$padding: 2rem;

		&-arrow {
			padding: $padding;
			height: calc(100% - 2 * #{$padding});
			width: calc(100% - 2 * #{$padding});
		}
	}
}

@include md {
	.symbol-detail {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-template-rows: 2fr 1fr 1fr $footer-height;
		grid-template-areas:
			"symbol symbol "
			"entity unicode"
			"html   css    "
			"back   back   ";
	}
}

@mixin above-lg {
	.symbol-detail__symbol-mark {
		font-size: 4rem;
	}
}

@media only screen and (min-width: 1180px) {
	.symbol-detail__symbol-mark {
		font-size: 40rem;
	}
}
