body {
	font-family: Avenir, "Helvetica Neue", sans-serif;
}

$grid-gap: 1rem;

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.entities-list {
	display: flex;
	flex-wrap: wrap;
	gap: $grid-gap;
	padding: calc(#{$grid-gap} / 2);

	&__item {
		background-color: rgba(0, 0, 0, 0.2);
		padding: 1rem 1.5rem;
		text-align: center;
		flex: 1 1 200px;

		p {
			margin: 0 0 0.25rem;
		}

		h3,
		h4 {
			margin: 0 0 0.25rem;
		}

		h3 {
			font-size: 3rem;
		}
	}
}
